.cta{
  color: var(--black);
  background-color: var(--primary);
  text-decoration: none;
  font: var(--button);
  padding: 0.8125rem 1.5rem;
  border-radius: 5.625rem;
  border: 2px solid var(--black);
  text-transform: uppercase;
  display: inline-block;
  transition: transform .1s ease-in-out;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}
.cta:hover{
  background-color: var(--primary-hover);
}
.cta:active{
  transform: scale(.9);
}
.cta.is-secondary{
  background-color: transparent;
}
.cta.is-secondary::before{
  content: '';
  display: inline-block;
  background-image: url('../assets/icons/icon-github.svg');
  background-position: left;
  background-size: 1.4375rem;
  inline-size: 1.4375rem;
  block-size: 1.4375rem;
  vertical-align: middle;
  transform: translateY(-2px);
  margin-inline-end: .5rem;
}
.cta.is-secondary:hover{
  background-color: #d0e3dd30;
}