.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.footer-logo{
  display: none;
}
.footer-social{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-direction: column;
  flex: 1;
}
.footer-paragraph{
  font: var(--body1);
  text-align: center;
  margin: 0;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
}
.footer-redes{
  line-height: 0;
  order: -1;
  display: flex;
  gap: 1rem;
}
@media screen and (min-width: 1024px){
  .footer-logo{
    display: inline-block;
  }
  .footer-social{
    gap: 2rem;
    flex-direction: row;
    justify-content: flex-end;
  }
  .footer-redes{
    order: 0;
  }
}