.header{
  padding-block-start: 1rem;
  display: flex;
  flex-direction: column;
}
.header-image{
  max-inline-size: 25rem;
  max-block-size: 22rem;
  inline-size: 100%;
  block-size: 100%;
  margin: 0 auto;
  animation: animacion 4s infinite;
  transition: transform 4s ease-in-out;
}
@keyframes animacion {
  0%{
    transform: translateY(0%);
  }
  50%{
    transform: translateY(-10%);
  }
  100%{
    transform: translateY(0%);
  }
}
.header-image img{
  inline-size: 90%;
  block-size: 90%;
}
.header-title{
  font: var(--headline3);
  margin: 0;
  font-size: 2.375rem;
  line-height: 4rem;
}
.header-subtitle{
  font: var(--headline2);
  margin: 0;
  font-size: 3rem;
  line-height: 4.5rem;
  margin-block-end: 1rem;
}
.header-paragraph{
  margin-block-start: 0;
}
.header-icons{
  display: flex;
  gap: 1rem;
}
@media screen and (min-width: 768px){
  .header{
    /* padding-block-start: 2.5rem; */
    display: flex;
    flex-direction: row;
    gap: 3.75rem;
    align-items: center;
  }
  .header-image{
    max-inline-size: 31.5rem;
    max-block-size: 30.75rem;
    order: 1;
  }
  .header-image img{
    inline-size:100%;
    block-size: 100%;
  }
  .header-title{
    font-size: 48px;
    line-height: 5rem;
  }
  .header-subtitle{
    font-size: 59px;
    line-height: 5.5rem;
  }
}